
<div fxLayout="row wrap" fxLayoutAlign="center center" class="header" fxFlex="100">

    <div fxLayout="row wrap" fxLayoutAlign="space-around space-around" fxFlex="40" style="height: 120px;" >
        
        <div fxFlex="100" style="height: 40px;"></div>
        
        <div fxLayout="row wrap" fxLayoutAlign="space-around center " fxFlex="100" style="height: 40px;">
            <span class="underline"> Productos </span>
            <span class="underline"> Ofertas </span>
            <span class="underline"> Talleres &nbsp; & &nbsp;  Seminarios </span>
        </div>

 
    </div>
    
    <div fxFlex="20" class="logo"></div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="40" style="height: 120px;" >
 
        <form  fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width" appearance="outline" style="color:rgb(110, 110, 110); margin-top: 1em;">
                <mat-label style="color:rgb(195, 195, 195);"> &nbsp; Buscar </mat-label>
                <input type="text" matInput >
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>


    </div>

</div>