

 <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center start" style="height: 600px; border:2px solid green ;" >
    
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 40px">
            <h1 class="font">Redes Sociales</h1>
        </div>    
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" >
            <img src="../assets/face.png" class="media">
            <img src="../assets/whatsapp.png" class="media">
            <img src="../assets/instagram.png" class="media">
            <img src="../assets/twitter.png" class="media">
        </div>
    </div>

    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 40px; border:2px blue ;">
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" style="border: 2px solid red;">
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
        </div>

        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" style="border: 2px solid red;">
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
            <h2 fxFlex="100">lorem</h2>
        </div>
    </div>
</div>